<p class="username"><%= student.username %></p>
<p class="location"><%= student.location %></p>
<% if(window.queue.currentUser().isTa) { %>
  <div class="ta_control">
    <% if( !student.ta_id ) { %> 
      <input type="button" class="accept" value="Accept" />
    <% } %>
    <input type="button" class="remove" value="Remove" />
  </div>
<% } %>
