<div class="lefty">
	<p><%= student.username %> @ <%= student.location %></p>

  <% if( window.queue.get('is_question_based') 
         && window.queue.currentUser().isTa 
         && student.question && student.question.length > 0 ) { %>

    <p class="student-question">Question: <%= student.question %></p>

  <% } %>

</div>

<% if(window.queue.currentUser().isTa) { %>
  <div class="ta_control">
    <% if( !student.ta_id ) { %> 
      <button class="accept">Accept</button>
    <% } %>
    <button class="remove">Remove</button>
  </div>
<% } %>

