<div class="lefty">
	<p><%= student.username %> @ <%= student.location %></p>

  <% if (student.ta_id && false) { %>
    <p>Being helped by <%= window.queue.tas.get(student.ta_id) %></p>
  <% } %>

  <% if( window.queue.get('is_question_based') 
         && window.queue.currentUser().isTa 
         && student.question && student.question.length > 0 ) { %>

    <p>Question: <%= student.question %></p>

  <% } %>


</div>
<% if(window.queue.currentUser().isTa) { %>
  <div class="ta_control">
    <% if( !student.ta_id ) { %> 
      <button class="accept">Accept</button>
    <% } %>
    <button class="remove">Remove</button>
  </div>
<% } %>

