%h1= @queue.title
%table{ class: "header-table" }
  %tr
    -#%td
      -#= link_to_unless_current "Stats", instructors_queue_path(@queue)
    -#%td
      -#= link_to_unless_current "Change Settings", edit_instructors_queue_path(@queue)

