%h1 Get Involved.

%p This TA Queue was built from the blood, sweat, and tears of University of Utah students.
%br/
%p It is an open source project that can be found on #{link_to "GitHub", "http://github.com/urails/ta_queue"}. 
%br/
%p We welcome any and all that would like to contribute or make clients, for example Android or Linux clients. The iOS client is also open source and can be found #{ link_to "here", "http://github.com/urails/ta_queue_ios" }.
%br/
%p Please email #{ mail_to "uofu.ta.queue@gmail.com" } with any inquiries, questions, or concerns.
