<% if(queue.get('status') && queue.get('status').length > 0) { %>
  <span class="checking"><%= queue.get('status') %></span>
<% } else if (queue.currentUser().isTa) { %>
  <span class="checking">Click to update queue status...</span>
<% } %>
