<% if (window.queue.currentUser().isTa) { %>
    <button id="activate_queue" value=""><%= queue.get('active') ? "Deactivate" : "Activate" %></button>
    <button id="freeze_queue" type="button" ><%= queue.get('frozen') ? "Unfreeze" : "Freeze" %></button>
<% } else { %>
  <button id="enter_queue" type="button" ><%= current_user.get('in_queue') ? "Exit Queue" : "Enter Queue" %></button>
<% } %>
<button id="sign_out" type="button" class="sign_out_with">Sign Out</button> 
