.footer.clear
  - if !current_user || current_user.student?
    This TA Queue is in beta, please help us improve it by reporting bugs/improvements
    = link_to "as a GitHub issue", "http://www.github.com/urails/ta_queue/issues", :target => "_blank"
    or sending an email to 
    = mail_to "uofu.ta.queue@gmail.com"
  - else
    %span{ style: "color:red; font-size:1.4em; text-shadow:0px 0px 3px white;" }
      New!
    Auto-accept! If you are helping a student, just tell them to remove themselves by pressing the "Exit Queue" Button and the next student
    will automatically be accepted! No more running back to your computer to accept the next student.
    %br
    %span{ style: "color:red; font-size:1.4em; text-shadow:0px 0px 3px white;" }
      New!
    You now have a friendly red X next to the student's name in your sticky note, for convenient removing!
    %br
    %br
    The TA Queue is currently in beta. You can report bug/feature requests by 
    = link_to "submitting an issue on GitHub,", "http://www.github.com/urails/ta_queue/issues"
    or emailing
    = mail_to "uofu.ta.queue@gmail.com"
  
