- content_for(:javascripts) { javascript_include_tag "application-backbone", "http://#{QUEUE_HOSTNAME}:8080/application.js" }
= render "boards/content_header"
- content_for(:stylesheets) { stylesheet_link_tag "application" }

%h2= current_user.username
#chat
  #chat_list
  #chat_box
    #messages
    #send_message

:javascript
  $(function() {
    window.queue = new TaQueue.Models.Queue()
    window.queue.set(#{render_queue});
    if(window.user_type === "Ta")
      window.current_user = window.queue.tas.get(window.user_id) 
    if(window.user_type === "Student")
      window.current_user = window.queue.students.get(window.user_id) 
    window.chatsRouter = new TaQueue.Routers.ChatsRouter()
    Backbone.history.start()
  });
