- content_for(:javascripts) { javascript_include_tag "application-backbone", "http://#{QUEUE_HOSTNAME}:8080/application.js" }
= render "boards/content_header"
- content_for(:stylesheets) { stylesheet_link_tag "application" }

#chat
  #chat_list
  #chat_box
    #messages
    #send_message

:javascript
  $(function() {
    window.queue = new TaQueue.Models.Queue()
    window.queue.set(#{render_queue});
    window.chatsRouter = new TaQueue.Routers.ChatsRouter()
    Backbone.history.start()
  });
