%div{ style: "text-align:center;" }
  %div{ style: "width:300px;display:inline-block;background-color:#ccc;padding:20px;border-radius:5px;" } 
    Create a Queue by clicking on 
    %br/
    New Queue over on the left.
