.instructor-login
  = link_to "Instructor Login", new_instructor_session_path

%ul.school-list
  - @schools.each do |school|
    %li.school
      %h3= school.name
    - school.instructors.each do |instructor|
      %li.instructor
        %h4= instructor.name
      - instructor.queues.each do |queue|
        %li.queue= link_to queue.title, build_queue_login_path(queue)
