#main-left {
  li.pending {
    background-color:#FFD873;
  }

  li.user {
    padding: 2px 0;
    padding-left:30px;
    min-height:10px;

    &:hover {
      cursor:pointer;
    }


  }

  li.selected {
    background-color:#fff;
  }

  li.header {
    min-height:10px;
    font-size:22px;
    font-weight:bold;
  }
}

.message_box {
  padding:5px;

  .sent {

  }
}
