#content {
  width:960px;
  margin-right:auto;
  margin-left:auto;
}

#chat {

  #chat_list {
    float:left;
    display:inline-block;
    width:20%;

    ul {
    }

    .header {
      font-size:1.2em;
    }

    .user {
      padding-left:20px;
    }

    li {
      list-style:none;
      cursor: default;
      &.selected {
        color:white; 
      }

      &.user {
        &:hover {
          color:gray;
        }
      }

      &.pending {
        color:green;
      }
    }

  }

  #chat_box {
    display:inline-block;
    width:80%;
    height:auto;
  }

  #messages {
    overflow-y:auto;
    background-color:white;
    height:200px;

    p {
      margin:3px;;
    }

    .message_box {
    }


    .sent {
      color:red;
    }

    .received {
      color:green;
    }
  }

  #send_message {
    input.send_message {
      width:100%;
    }
  }
}
