/* @group Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

input[type="text"],
input[type="password"] {
  margin:0;
}

/* @end */

$background-color: #EEE;
$dark-background: #333;

$button-background: #bbb;

body {
   /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  font-family: "Josefin Sans";
  font-size: 1.2em;
  background-color:$background-color;
  line-height:1.4em;
   
   /*font-weight: 300;*/
}

input[type="button"],
input[type="submit"],
.button,
button {
  @include border-radius(2px);
  border:1px solid #999;
  display:inline-block;
  color:#222;
  font-size:18px;
  font-family:"Josefin Sans";
  background-color:#bbb;
  text-shadow:1px 1px #ddd;
  /*font-family:Trebuchet MS;*/
  /*font-weight:bold;*/
  padding:8px 15px;
  text-decoration:none;
}

input[type="button"]:hover,
input[type="submit"]:hover,
.button:hover,
button:hover {
	background-color:#efefef;
}

button:active,
.button:active,
input[type="submit"]:active {
	position:relative;
	top:1px;
}

input[type="button"],
input[type="submit"],
.button,
button {
  &.active {
    background-color:#dfdfdf;
  }
}

input[type="text"], 
input[type="password"] {
  /*width:350px;*/
  font-size:14px;
  height:30px;
  padding:3px;
  @include border-radius(3px);
  border:1px solid #bbb;
  width:99%;
  /*margin:5px;*/
  margin-top:7px;
}

a {
  color:#777;
}

#content {
  width:800px;
  margin: 0 auto 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0;
}

h1 { font-size:36px; }	
h2 { font-size:28px; }
h3 { font-size:24px; }

.footer {
  margin-top:20px;
  text-align:center;
}
