@import "compass";

$default-box-shadow-color: #bbb;
$default-box-shadow-v-offset: 2px;
$default-box-shadow-blur: 5px;

/* @group Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

input[type="text"],
input[type="password"] {
  margin:0;
}

/* @end */

$background-color: #EEE;
$dark-background: #333;

$button-background: #bbb;
$off-yellow: #FFD873;

body {
   /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  font-family: "Josefin Sans";
  font-size: 1.2em;
  background-color:$background-color;
  line-height:1.4em;
   
   /*font-weight: 300;*/
}

.quiet {
  color:#999;
}

input[type="button"],
input[type="submit"],
.button,
button {
  @include border-radius(2px);
  border:1px solid #999;
  display:inline-block;
  color:#222;
  font-size:18px;
  font-family:"Josefin Sans";
  background-color:#bbb;
  text-shadow:1px 1px #ddd;
  @include single-box-shadow();
  /*font-family:Trebuchet MS;*/
  /*font-weight:bold;*/
  padding:8px 15px;
  text-decoration:none;
}

input[type="button"]:hover,
input[type="submit"]:hover,
.button:hover,
button:hover {
	background-color:#efefef;
}

input[type="button"].disabled,
input[type="submit"].disabled,
.button.disabled,
button.disabled {
  color:#777;
  &:hover {
    background-color:#bbb;
  }
}

button:active,
.button:active,
input[type="submit"]:active {
	position:relative;
	top:1px;
}

input[type="button"],
input[type="submit"],
.button,
button {
  &.active {
    background-color:#dfdfdf;
  }
}

input[type="text"], 
input[type="password"],
input[type="email"] {
  /*width:350px;*/
  font-size:18px;
  height:30px;
  padding:3px;
  @include border-radius(3px);
  border:1px solid #bbb;
  width:99%;
  @include single-box-shadow(#ccc);
  /*margin:5px;*/
  /*margin-top:7px;*/
}

.errors {
  /*background-color:#c00;*/
  color:#c00;
  padding:5px;
  margin-top:10px;

  ul li {
    @include text-shadow(0px, 1px, 0, 1, #fff);
  }
}

a {
  color:#777;
}

.notice {
  background-color:$off-yellow;
  padding:5px;
  text-align:center;
  margin:5px;
}

#content {
  width:800px;
  margin: 0 auto 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0;
}

h1 { font-size:36px; }	
h2 { font-size:28px; }
h3 { font-size:24px; }

.footer {
  margin-top:20px;
  text-align:center;
}

.formtastic {
  width:400px;
  margin: 0 auto;
  li {
    list-style:none;
  }

  input {
    margin-bottom:5px;
  }

  input[type="submit"] {
    padding:8px;
  }

  input,
  button, textarea {
    /*margin: 0 0 5px 0;*/
    font-family:"Josefin Sans";
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    padding-left:5px;
  }

  margin-top:20px;

  .inline-hints,
  .inline-errors {
    font-size:0.8em;
    color:#555;
    margin:0;
    padding:0;
    line-height:20px;
  }

  .inline-errors {
    color:red;
  }

  li.error {
    border:1px solid red;
    padding:10px;
    margin: 5px 0;
    border-radius:3px;
    input {
      border:1px solid red;
    }
  }
}
