.queue-login {
  text-align:center;
  #top_tab_bar .login-tab {
    width:100px;
  }

  #status_bar {
    #back_link {
      text-align:left;
      position:absolute;
    }
  }


  .login {
    width:300px;
  }

  input[type="submit"] {
    margin:10px 0;
  }

  #panes {
    display:inline;

  }

  .login_hint {
    display:inline-block;
    margin: 10px 0;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"], {
    &.login {
      margin-top:7px;
    }
  }

}

#new_instructor li{
  border-bottom:1px solid #999;
  padding-bottom:15px;
  margin-bottom:15px;
}
