// Place all the styles related to the queues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#content {
  margin-top:10px;
  margin-bottom:5px;
  width:600px;
  word-wrap:break-word;
}

#main-content {
  width:600px;
  margin-left:auto;
  margin-right:auto;
  height:400px;
}

#content-left {
  width:35%;
  height:100%;
  float:left;
}

#content-right {
  width:65%;
  float:right;
  height:100%;
}

#nav-buttons {
  height:40px;
  width:100%;
}

#main-left {
  height:360px;
  margin-right:3px;
}

#main-left {

  li { 
    margin:5px;
    @include border-radius(2px);
  } 


  .post-it {
    padding:8px;
  }

}

#main-right {
  height:320px;
  width:100%;
  background-color:$dark-background;
  color:#ddd;
  @include border-radius(2px);
}

#main-bottom {
  height:40px;
  margin:5px;
  /*background-color:$background-color;*/
  width:100%;
}

#queue-status {
  /*background-color:$background-color;*/
  width:100%;
  height:34px;
  line-height:1.05em;
  text-align:center;
  padding-top:3px;
  padding-bottom:3px;
}

#queue-button {
  width:48%;
}

#chat-button {
  width:48%;
}

.center {
  text-align:center;
}

#queue-status-update {
  text-align:center;
  background-color:#eee;
  border:0;
}

#ta_auto_accept {
  display:inline-block;
  margin-left:20px;
}

#student_queue_list  {

  .lefty {
    /*float:left;*/
    padding-left:5px;
    width:65%;
    display:inline-block;
    word-wrap:break-word;

    .student-question {
      font-size:0.8em;
    }
  }

  .student {
    padding-top:5px;
    padding-bottom:5px;
    border-bottom:1px solid #444;
  }

  .ta_control {
    float:right;
    text-align:left;
    margin-right:5px;
    width:30%;
    button {
      font-size:12px;
      padding:2px;
      border:none;
    }
  }
}

#main-right{
  overflow-y:auto;
  margin:5px;
}
