/*
 * Styles for show.html.haml
 *
 */

@import url('http://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('http://fonts.googleapis.com/css?family=Ubuntu+Condensed|Yanone+Kaffeesatz:700');

#content
{
  width:935px;
}

/* Placement of chalk board */
.chalkboard
{
  margin-top: 15px;
  margin-right: 40px;
  float: right;
  -moz-box-shadow: 0px 0px 100px 0px #000;
  box-shadow: 0px 0px 100px 0px #000;
  -webkit-box-shadow:  0px 0px 100px 0px #000;
}

/* Tab bar styles */
#left_tab_bar
{
  position: absolute;
  top: 30px;
  -webkit-transform: rotate(90deg); 
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

#queue_tab
{
  position: absolute;
  top: -37px;
  left: 0px;
  color: #aa6622;
  text-shadow: 1px 1px 1px #eeee88;
}

.content_tab
{
  padding: 0px 5px 9px 5px;  
  font-family: 'Yanone Kaffeesatz', sans-serif; 
  font-size: 18pt;
  margin-top: -3px;
  height: 16px;
}

#queue_tab .content_tab
{
  
  position: absolute;
  left: 27px;
  background: url('/assets/h_wood.jpg') 0px 3px repeat-x;
}

.bottom_tab, .top_tab
{
  width: 30px;
  height: 22px;
}

#queue_tab .bottom_tab
{
  position: absolute;
  left: 0px;
  background: url('/assets/htab_left.png') 0px 0px no-repeat;
}

#queue_tab  .top_tab
{
  position: absolute;
  left: 78px;
  background: url('/assets/htab_right.png') 0px 0px no-repeat;
}

.border_container
{
  position: absolute;
  top: 38px;
}

.borders
{
  position: absolute;
  top: 0px;
  width: 15px;
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #aa6622;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #aa6622; 
}

#cork_board
{
  width: 300px;
}

#control_panel, #tas_in_queue_header
{
  width: 100%;
  height: 49px;
  background: #555 url('/assets/status_bar.png') top right repeat-x;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #111;
}

#control_bar
{
  float: left;
  margin-top: 9px;
  padding: 0px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 3px 0px #000; 
  -moz-box-shadow: 0px 0px 3px 0px #000;
  -webkit-box-shadow: 0px 0px 3px 0px #000;
}

#control_bar *
{
  float: left;
}

#enter_queue, #freeze_queue, #activate_queue, #sign_out
{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #efefef;
  background: #111 url('/assets/status_bar.png') top right repeat-x;
  border: 1px solid #000;
  cursor: pointer;
  margin: 0px;
  text-shadow: 0px 0px 3px #000;
  font-size: 17pt;
  padding-bottom: 3px;
  letter-spacing: 1px;
}

#enter_queue:hover, #freeze_queue:hover, #activate_queue:hover, #sign_out:hover
{
  background-color: #333;
}

.sign_out_alone
{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.sign_out_with
{
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

#freeze_queue
{
  border-right: none;
}

#enter_queue, #activate_queue
{
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-right: none;
}

#student_welcome
{
  width: 273px;
  padding: 13px;
}

#student_welcome .message
{
  font-size: 14pt; 
}

#student_welcome .message span
{
  display: block;
  margin-top: 0px;
  margin-bottom: 5px;  
}

#student_welcome .message .post_it_remove
{
  font-family: 'Architects Daughter';
  font-size: 14pt;
  font-weight: bold;
  padding-top: 15px;
  color: #aa6622;
  cursor: pointer;
  margin-left: 10px;
  display: inline; 
}

#student_welcome .message .post_it_remove:hover
{
  color: #593612;
}

.post_it
{
  background: url('/assets/post_it.png') bottom left no-repeat;
  width: 180px;
  margin-left: 32px;  
  padding: 10px 10px 20px 10px;
  font-family: 'Architects Daughter';
  color: #3744ea;
  letter-spacing: 1px;
}

.post_it b
{
  font-size: 22pt;
  padding: 0px;
}

#tas_in_queue_header
{
  color: #efefef;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20pt;
  text-shadow: 0px 0px 3px #000;
} 

#tas_in_queue_header div
{
  padding-top: 7px;
  padding-left: 10px;
}

#tas_in_queue
{
  padding: 13px;
  overflow: auto;
}

#tas_in_queue .post_it
{
  margin-bottom: 5px;
}

.ta_name
{
  font-weight: bold;
  font-size: 22pt;
}

.student_info,.ta_status
{
  font-size: 14pt;
  margin-top: 0px;
}

/* Status bar styles */
#status_bar
{
  position: relative;
  width: 100%;
  height: 49px;
  background: #555 url('/assets/status_bar.png') top left repeat-x;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #111;
  color: #efefef;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20pt;
  text-shadow: 0px 0px 3px #000;
  letter-spacing: 1px;
}

#notification
{
  padding-top: 7px;
  padding-left: 10px;
}

/* 
Div that sizes mm in the table so that the table width/height is formatted
properly in Chrome 
 */
#panes 
{
  width: 550px;
  letter-spacing: 1px;
}

#queue_panel
{
  height: 100%; 
  padding: 20px 10px; 
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#queue_status, #queue_status input
{
  color: red;
  text-shadow: 0px 0px 3px #828282;
  font-size: 20pt;
  padding-bottom: 20px;
  text-align: center;
}

#queue_status input
{
  border: none;
  background-color: transparent;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#queue_list
{
  box-shadow: 0px 0px 4px 0px #828282;
  -moz-box-shadow: 0px 0px 4px 0px #828282;
  -webkit-box-shadow: 0px 0px 4px 0px #828282;
  width: 400px;
  margin: 0px auto 0px auto;
  
  color: #efefef;
  text-shadow: 0px 0px 3px #000;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#queue_datetime
{  
  background: #454545 url('/assets/queue_datetime.png') top left repeat-x;
  padding: 10px 5px;
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  font-size: 20pt;
}

.student
{
  position: relative;
  padding: 5px 5px;
}

.student .username
{
  font-size: 20pt;
  margin: 0px;
}

.student .location
{
  font-size: 18pt;
  margin: -5px 0px 0px 0px;
}

.student .ta_control
{
  position: absolute;
  right: 5px;
  top: 18px;
}
.student .accept, .student .remove
{  
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #efefef;
  background: #111 url('/assets/status_bar.png') top right repeat-x;
  border: 1px solid #000;
  cursor: pointer;
  margin: 0px;
  text-shadow: 0px 0px 3px #000;
  font-size: 18pt;
  padding-bottom: 3px;
}

.student .accept
{
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;

}

.student .remove
{
  border-left: none;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

.student .accept:hover, .student .remove:hover
{
  background-color: #333;
}

.odd
{
  background-color: #333333;
}

.even
{
  background-color: #282828;
}

#queue_bottom
{
  background: #454545 url('/assets/queue_bottom.png') top right repeat-x;
  padding: 10px 5px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
}
