@import url('http://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('http://fonts.googleapis.com/css?family=Ubuntu+Condensed|Yanone+Kaffeesatz:700');
/*
 *
 * Global styles for TA Queue website
 *
 */
/* CSS Reset */
td
{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

/* End CSS Reset */

body
{
	background-color: #5b5b5b;
}

@import url('http://fonts.googleapis.com/css?family=Gochi+Hand');
/* To use font-family: 'Gochi Hand' */


@font-face
{
  font-family: ta_queue;
  src: url('/assets/COLLEGIA.ttf');
}

#content
{
	width: 1000px;
	margin: 0 auto 0 auto;
}

.right
{
  float: right;
}

.left
{
  float: left;
}

.clear
{
  clear: both;
}

.footer
{
  text-align:center;
  padding-top:10px;
  font-size:15pt;
  color:white;
  font-family:"Architects Daughter", sans-serif;
  letter-spacing: 2px;
}

.footer a
{
  color:#EEEE88;
}
