.footer.clear
  This TA Queue was built by your peers. #{ link_to "Learn more and contribute", learn_more_path }.
  %br
  The TA Queue iOS app is now in beta, email #{ mail_to "uofu.ta.queue@gmail.com" } if you would like to be a beta tester.
