.footer.clear
  This TA Queue is in beta, please help us improve it by reporting bugs/improvements
  = link_to "as a GitHub issue", "http://www.github.com/urails/ta_queue/issues", :target => "_blank"
  or sending an email to 
  = mail_to "uofu.ta.queue@gmail.com"
