.footer
  %span.new New
  #{ link_to "Download", "http://itunes.apple.com/us/app/ta-queue/id550937048?mt=8", target: "_blank" } the TA Queue iOS App.

.footer
  Report bugs via #{ link_to "GitHub", "https://github.com/urails/ta_queue/issues" } or #{ mail_to "uofu.ta.queue@gmail.com", "email" }.

.footer= link_to "Get Involved.", learn_more_path
