.footer
  This TA Queue is in beta. Report bugs via #{ link_to "GitHub", "https://github.com/urails/ta_queue/issues" } or #{ mail_to "uofu.ta.queue@gmail.com", "email" }.

.footer= link_to "Get Involved.", learn_more_path
