- content_for :head do
  :javascript
    window.queue_title = "#{@queue.class_number}"
    window.user_id = "#{current_user.id}"
    window.user_token = "#{current_user.token}"
  - if current_user.ta?
    :javascript
      window.user_type = "Ta"
  - else
    :javascript
      window.user_type = "Student"
