- content_for :title do @queue.title end
-#= content_for :javascripts do javascript_include_tag (current_user.student? ? "application-student" : "application-ta" ), "http://#{QUEUE_HOSTNAME}:8080/application.js" end
- content_for :javascripts do javascript_include_tag "application-backbone" end
= render "queues/content_header"
= content_for :stylesheets do stylesheet_link_tag "application" end

#main-content
  #content-left
    #nav-buttons
      %button#queue-button Queue
      %button#chat-button Chat
    %ul#main-left
  #content-right
    #queue-status
    #main-right
    #main-bottom

-#= render "queues/beta"

:javascript
  $(function() {
    window.queue = new TaQueue.Models.Queue;
    window.queue.set(#{render_queue});
    if(window.user_type === "Ta")
      window.current_user = window.queue.tas.get(window.user_id) ;
    if(window.user_type === "Student")
      window.current_user = window.queue.students.get(window.user_id);

    window.queueRouter = new TaQueue.Routers.QueuesRouter();
    window.chatsRouter = new TaQueue.Routers.ChatsRouter();
    
    $("#chat-button").live("click", function() {
      window.queue.off("reset");
      window.queue.off("change");
      // window.queueRouter.unbind();
      window.chatsRouter.render();
    });

    $("#queue-button").live("click", function() {
      window.queue.off("reset");
      window.queue.off("change");
      // window.chatsRouter.unbind();
      window.queueRouter.render();
    });

    Backbone.history.start();
  });


