- content_for :title do @queue.title end
-#= content_for :javascripts do javascript_include_tag (current_user.student? ? "application-student" : "application-ta" ), "http://#{QUEUE_HOSTNAME}:8080/application.js" end
- content_for :javascripts do javascript_include_tag "application-backbone" end
= render "queues/content_header"
= content_for :stylesheets do stylesheet_link_tag "application" end

#main-content
  #content-left
    #nav-buttons
      %button#queue-button Queue
      %button#chat-button Chat
    %ul#main-left
  #content-right
    #queue-status
    #main-right
    #main-bottom


-#= render "queues/chat"
-#= render "queues/beta"

#ask_question{ class: "fancy", style: "display:none;height:130px;width:355px;" }
  Hello world!


:javascript
  $(function() {
    window.queue = new TaQueue.Models.Queue;
    window.queue.set(#{render_queue});
    if(window.user_type === "Ta")
      window.current_user = window.queue.tas.get(window.user_id) ;
    if(window.user_type === "Student")
      window.current_user = window.queue.students.get(window.user_id);

    window.queueRouter = new TaQueue.Routers.QueuesRouter();
    $("#queue-button").live("click", function() {
      window.queueRouter.render();
    });

    window.chatsRouter = new TaQueue.Routers.ChatsRouter();
    $("#chat-button").live("click", function() {
      window.chatsRouter.render();
    });

    Backbone.history.start();
  });


