- content_for :title do @queue.title end
-#= content_for :javascripts do javascript_include_tag (current_user.student? ? "application-student" : "application-ta" ), "http://#{QUEUE_HOSTNAME}:8080/application.js" end
- content_for :extra_javascripts do javascript_include_tag "application-backbone" end
= render "queues/content_header"

#main-content
  #content-left
    #nav-buttons
      %button#queue-button Queue
      %button#chat-button Chat
    %ul#main-left
  #content-right
    #queue-status
    #main-right
    #main-bottom

= render "queues/bugs"

:javascript
  $(function() {
    window.events = {}
    _.extend(window.events, Backbone.Events)

    window.queue = new TaQueue.Models.Queue;
    window.queue.set(#{render_queue});

    window.queueRouter = new TaQueue.Routers.QueuesRouter();
    window.chatsRouter = new TaQueue.Routers.ChatsRouter();
    
    $("#chat-button").live("click", function() {
      window.chatsRouter.navigate("chat", { trigger: true });
    });

    $("#queue-button").live("click", function() {
      window.queueRouter.navigate("", { trigger: true });
    });

    Backbone.history.start();
  });


